<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>厦门市区域临床路径平台</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <!--个性化servlet开始  -->
  <servlet>
		<servlet-name>PdcaServlet</servlet-name>
		<servlet-class>com.goodwillcis.lcp.servlet.pdca.PdcaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdcaServlet</servlet-name>
		<url-pattern>/myadapter/PdcaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PdcaServlet2</servlet-name>
		<servlet-class>com.goodwillcis.lcp.servlet.pdca.PdcaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdcaServlet2</servlet-name>
		<url-pattern>/PdcaServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>PdcaServlet3</servlet-name>
		<servlet-class>com.goodwillcis.lcp.servlet.pdca.PdcaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PdcaServlet3</servlet-name>
		<url-pattern>/cppdca/PdcaServlet</url-pattern>
	</servlet-mapping>
	<!-- 个性化servlet结束 -->
  <servlet>
    <servlet-name>ReExecuteServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.sync.ExecuteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReExecuteServlet</servlet-name>
    <url-pattern>/ReExecute</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>net.sf.ehcache.constructs.web.ShutdownListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>reportServlet</servlet-name>
    <servlet-class>bios.report.engine.output.ReportEmitter</servlet-class>
    <init-param>
      <param-name>reportConf</param-name>
      <param-value>/WEB-INF/resources/config.xml</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <servlet-name>imageServlet</servlet-name>
    <servlet-class>bios.report.engine.output.ImageServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>fillinServlet</servlet-name>
    <servlet-class>bios.report.engine.output.FillinServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>reportServlet</servlet-name>
    <url-pattern>/ReportEmitter</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>imageServlet</servlet-name>
    <url-pattern>/ImgServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>fillinServlet</servlet-name>
    <url-pattern>/FillinServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.login.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.SelectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/servlet/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProcessingServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.orderprocessing.ProcessingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcessingServlet</servlet-name>
    <url-pattern>/servlet/ProcessingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>VariaServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.orderprocessing.VariaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VariaServlet</servlet-name>
    <url-pattern>/servlet/VariaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Apache-Axis Servlet</display-name>
    <servlet-name>AxisServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AxisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/servlet/AxisServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>*.jws</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AxisServlet</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>Axis Admin Servlet</display-name>
    <servlet-name>AdminServlet</servlet-name>
    <servlet-class>org.apache.axis.transport.http.AdminServlet</servlet-class>
    <load-on-startup>100</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminServlet</servlet-name>
    <url-pattern>/servlet/AdminServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchDiaServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.macth.MatchDiaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchDiaServlet</servlet-name>
    <url-pattern>/MatchDiaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchOperaServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.macth.MatchOperaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchOperaServlet</servlet-name>
    <url-pattern>/MatchOperaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchDoctorServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.macth.MatchDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchDoctorServlet</servlet-name>
    <url-pattern>/MatchDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchNurseServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.macth.MatchNurseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchNurseServlet</servlet-name>
    <url-pattern>/MatchNurseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchOrderServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.macth.MatchOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchOrderServlet</servlet-name>
    <url-pattern>/MatchOrderServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CpMaintainServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.CpMaintainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CpMaintainServlet</servlet-name>
    <url-pattern>/CpMaintainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhikongCpIndexServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.zhikong.ZhikongCpIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhikongCpIndexServlet</servlet-name>
    <url-pattern>/ZhikongCpIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhikongCpPatientIndexServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.zhikong.ZhikongCpPatientIndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhikongCpPatientIndexServlet</servlet-name>
    <url-pattern>/ZhikongCpPatientIndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhikongTongjiServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.zhikong.ZhikongTongjiServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhikongTongjiServlet</servlet-name>
    <url-pattern>/ZhikongTongjiServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ZhikongPatientDoctorServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.zhikong.ZhikongPatientDoctorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZhikongPatientDoctorServlet</servlet-name>
    <url-pattern>/ZhikongPatientDoctorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ManageServlet</display-name>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.ManageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/servlet/manage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NodeExecute</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.patient.NodeExecuteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NodeExecute</servlet-name>
    <url-pattern>/NodeExecute</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SignTable</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.patient.SignTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignTable</servlet-name>
    <url-pattern>/SignTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NextNode</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.patient.NextNodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NextNode</servlet-name>
    <url-pattern>/NextNode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertTable</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.patient.InsertAllTableServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertTable</servlet-name>
    <url-pattern>/InsertTable</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>InsertOneRecord</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.patient.InsertOneRecordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertOneRecord</servlet-name>
    <url-pattern>/InsertOneRecord</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DelVariation</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.patient.DelVariationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelVariation</servlet-name>
    <url-pattern>/DelVariation</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>ManageCpServlet</display-name>
    <servlet-name>ManageCpServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.ManageCpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageCpServlet</servlet-name>
    <url-pattern>/servlet/managecp</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AutoComplete</display-name>
    <servlet-name>AutoComplete</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.Autocomplete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoComplete</servlet-name>
    <url-pattern>/servlet/auto</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>UploadServlet</display-name>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.sync.UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/servlet/updateData</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChartServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.chart.ChartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChartServlet</servlet-name>
    <url-pattern>/servlet/ChartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.NodeUpdateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/servlet/NodeUpdate</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderNodeServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.NextOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderNodeServlet</servlet-name>
    <url-pattern>/servlet/NextOrder</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PermissionsServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.system.PermissionsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermissionsServlet</servlet-name>
    <url-pattern>/servlet/PermissionsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonnelServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.system.PersonnelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonnelServlet</servlet-name>
    <url-pattern>/servlet/PersonnelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>PersonListServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.system.PersonListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PersonListServlet</servlet-name>
    <url-pattern>/servlet/PersonListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistUserServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.system.RegistUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistUserServlet</servlet-name>
    <url-pattern>/servlet/RegistUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>createCP</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.CreateCpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>createCP</servlet-name>
    <url-pattern>/servlet/createCP</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MatchCPServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.macth.MatchCPServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MatchCPServlet</servlet-name>
    <url-pattern>/MatchCPServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CPList</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.cp.CPListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CPList</servlet-name>
    <url-pattern>/servlet/cplist</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderItemServlet</servlet-name>
    <servlet-class>com.goodwillcis.lcp.servlet.patient.OrderItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderItemServlet</servlet-name>
    <url-pattern>/servlet/OrderItemServlet</url-pattern>
  </servlet-mapping>
</web-app>